# Dependencies
node_modules/

# Environment Variables & Secrets
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*

# Coverage / Testing
coverage/

# OS / Editor Files
.DS_Store
Thumbs.db
.idea/
.vscode/
